:root {
  --transparent-accent-600-50: color-mix(in srgb,var(--accent-600),#0000 50%);
  --transparent-accent-500-50: color-mix(in srgb,var(--accent-500),#0000 50%);
  --transparent-error-500-50: color-mix(in srgb,var(--error-500),#0000 50%);
  --transparent-error-400-50: color-mix(in srgb,var(--error-400),#0000 50%);
  --transparent-secondary-600-50: color-mix(in srgb,var(--secondary-600),#0000 50%);
  --transparent-primary-500-50: color-mix(in srgb,var(--primary-500),#0000 50%);
  --transparent-background-600-50: color-mix(in srgb,var(--background-600),#0000 50%);
}